# Directories
__pycache__/
tasho.egg-info/
docs/build/
c_generated_code/
build/
dist/
tasho/tasho_orocos_ros_bridge/build
tasho/tasho_orocos_ros_bridge/devel

# Notebook checkpoints
.ipynb_checkpoints/

# Editor settings
.vscode/
